<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{piece :: head('User')}"></head>

<body>

    <header th:replace="~{piece :: header('User')}"></header>

    <div class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">NAME</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">DETAIL'S</th>
                    <th scope="col">EDIT</th>
                    <th scope="col">DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user :${users}">
                    <th class="col-1" scope="row" th:text="${user.id}">1</th>
                    <td class="col-2" th:text="${user.mail}">Mark</td>
                    <td class="col-2" th:text="${user.name}">Otto</td>
                    <td class="col-2" th:text="${user.status}">ACTIVE</td>
                    <td class="col-2"><a th:href="@{/register/user/{id}(id=${user.id})}">details</a></td>
                    <td class="col-2"><a th:href="@{/register/user/{id}/edit(id=${user.id})}">edit</a></td>
                    <td class="col-2"><a href="#">delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/register">back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register/users/new">new user</a>
            </li>
        </ul>
    </div>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>